body {
  background-color: #1b263b ;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p{
    color:  #acccee;
    font-family: 'Arial black', 'Helvetica Neue', sans-serif;
}

.card-film{
    height: 650px;
    object-fit: cover;
    border: 2px solid;
    position: relative;
    border-color: #acccee;

}

.film-cover{
    max-width: 100%;
    height: 100%;
    object-fit: cover; 

}

.overlay{
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: #acccee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}